<h1>Chat</h1>
<hr>

<div class="app-messages scrollbar" id="app-messages">
    <!-- <div class="text-right">
        <span class="badge badge-success">Ana</span>
        <p>Chat message</p>
    </div> -->

    <div [ngClass]="{'text-right': chatService.user.uid == chat.uid}" *ngFor="let chat of chatService.chats">
        <span [ngClass]="{'badge-primary': chatService.user.uid == chat.uid,'badge-success': chatService.user.uid != chat.uid}" class="badge">{{ chat.name}}</span>
        <p>{{chat.message}}</p>
    </div>



</div>

<input type="text" name="message" class="form-control" [(ngModel)]="message" (keyup.enter)="sendMessage()" placeholder="Send message">